vendor
Gemfile.lock
debug.log
.vscode

build

punkterechner/build
punkterechner/node_modules
punkterechner/src/ts/RecordsHistory.ts
web/.jekyll-cache
web/.jekyll-metadata
web/node_modules
web/_site
web/_site-production
web/_plugins/jekyll-external-links/
web/assets/js/calculator.bundle.js
web/assets/js/Chart.bundle.min.js
web/pages/rettungssport/punkterechner.md

/private/